{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load thumbnail %}
{% include 'includes/profile_items_main_mobile.html' %}
<div class="content_main category_index">
  <div class="container">
    {% include 'includes/profile_items_main.html' %}
    <div class="category_index_main hits_main profile_index">
      <div class="category_sort_main">
        <div class="title_index">
          <h2>{{ page_name }}</h2>
        </div>
      </div>
      {% if user.is_authenticated %}
      <div class="profile_main">
        {% for address in addresses %}
        <div class="address_item">
          {% if address.name %}
          {{address.name}}:
          {% endif %}
          {{ address.city }}
          {{ address.street }}
          {{ address.building }}
          {{ address.apartment }}
          <div class="address_item_btns">
            <a class="news_btn" href="{% url 'users:edit_address' address.id %}">
              <p>Редактировать</p>
            </a>
            <form class="form_group_form" method="post" action="{% url 'users:delete_address' pk=address.pk %}">
              {% csrf_token %}
              <button class="news_btn"><p>Удалить</p></button>
            </form>
          </div>
        </div>
        {% endfor %}
        <h3 class="h3_address">Добавить новый адрес</h3>
        <form class="form_group_form" method="post" action="{% url 'users:add_address' %}">
          {% csrf_token %}
          <div class="form_group_profile">
            {{ form.name }}
            {% if form.name.errors %}
            <div class="error">{{ form.name.errors }}</div>
            {% endif %}
          </div>
          <div class="form_group_profile">
            {{ form.city }}
            {% if form.city.errors %}
            <div class="error">{{ form.city.errors }}</div>
            {% endif %}
          </div>
          <div class="form_group_profile">
            {{ form.street }}
            {% if form.street.errors %}
            <div class="error">{{ form.street.errors }}</div>
            {% endif %}
          </div>
          <div class="form_group_profile">
            {{ form.building }}
            {% if form.building.errors %}
            <div class="error">{{ form.building.errors }}</div>
            {% endif %}
          </div>
          <div class="form_group_profile">
            {{ form.apartment }}
            {% if form.apartment.errors %}
            <div class="error">{{ form.apartment.errors }}</div>
            {% endif %}
          </div>

          <button class="btn_main" type="submit">Добавить адрес</button>
        </form>
      </div>
      {% else %}
      <div class="info_text_main">
        <p class="info_text">Пожалуйста, войдите в систему.</p>
        <p class="lk_top_sign info_text_link lk_top"> Войти</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}