<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваш заказ Смайк</title>
</head>
<body>
    <p>Детали:</p>
    <ul>
        <li>Телефон: {{ order.phone }}</li>
        <li>Email: {{ order.email }}</li>
        <li>Дата доставки: {{ order.delivery_date }}</li>
        <li>Время доставки: {{order.get_time_range_display}}</li>
        <li>Создан: {{ order.created_at }}</li>
        <li>Адрес: {{ order.address }}</li>
        <li>Сообщение: {{ order.message }}</li>
        <!-- Здесь можно добавить больше деталей заказа -->
    </ul>
    <p>Вот детали заказа:</p>
    <ul>
        {% for item in order.items.all %}
            <li>{{ item.product.title }} - {{ item.quantity }} шт. - {{ item.product.price }} руб/шт.</li>
        {% endfor %}
    </ul>
    <p><strong>Общая сумма: {{ order.total_price }}</strong></p>
</body>
</html>
