{% load custom_active %}
<div class="category_items_main">
  <div class="category_top  {% is_active request 'users:profile' %}">
    <p class="cat_gl"><a href="{% url 'users:profile' %}">Профиль</a></p>
  </div>
  {% if user.role %}
  <div class="category_top  {% is_active request 'users:add_org' %}">
    <p class="cat_gl"><a href="{% url 'users:add_org' %}">Организация</a></p>
  </div>
{% endif %}
  <div class="category_top {% is_active request 'basket:basket' %}">
    <p class="cat_gl"><a href="{% url 'basket:basket' %}">Корзина</a></p>
  </div>
  {% if user.is_authenticated %}
  <div class="category_top {% is_active request 'basket:orders_users' %}">
    <p class="cat_gl"><a href="{% url 'basket:orders_users' %}">Заказы</a></p>
  </div>
  {% endif %}
  <div class="category_top   {% is_active request 'catalog_url:favorite' %}">
    <p class="cat_gl"><a href="{% url 'catalog_url:favorite' %}">Избранное</a></p>
  </div>
  {% if user.is_authenticated %}
  <div class="category_top  {% is_active request 'users:add_address' %}">
    <p class="cat_gl"><a href="{% url 'users:add_address' %}">Адреса доставки</a></p>
  </div>

  <form id="logoutForm_2" class="logout-form" method="post" action="{% url 'users:logout' %}">
    {% csrf_token %}
    <button class="profile" type="submit">Выход</button>
  </form>
  {% endif %}


</div>